# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [42]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
import h5py
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from tensorflow.keras.models import load_model

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [43]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(Path("./Resources/applicants_data.csv"))

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [44]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [45]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN','NAME'])

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [46]:
# Create a list of categorical variables 
categorical_variables = ['APPLICATION_TYPE','AFFILIATION','CLASSIFICATION','USE_CASE','ORGANIZATION','INCOME_AMT','SPECIAL_CONSIDERATIONS']

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [47]:
# Create a OneHotEncoder instance
enc = OneHotEncoder()

In [48]:
# Encode the categorical variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [49]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(encoded_data.toarray(), columns=enc.get_feature_names(categorical_variables))

# Review the DataFrame
encoded_df.head()

C:\Users\lourd\anaconda3\envs\dev\envs\dev\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [50]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
numerical_variables = ['STATUS','ASK_AMT','IS_SUCCESSFUL']

encoded_df = pd.concat([applicant_data_df[numerical_variables], encoded_df], axis=1)

# Review the Dataframe
encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [51]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [52]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns='IS_SUCCESSFUL')

# Review the features DataFrame
X[:5]

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [53]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [54]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [55]:
# Define the the number of inputs (features) to the model
number_input_features = X.shape[1]

# Review the number of features
number_input_features

116

In [56]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [57]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  8

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

8

In [58]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  10

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

10

In [59]:
# Create the Sequential model instance
nn = Sequential()

In [60]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [61]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, input_dim=number_input_features, activation="relu"))

In [62]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation="relu"))

In [63]:
# Display the Sequential model summary
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 8)                 936

 dense_4 (Dense)             (None, 10)                90

 dense_5 (Dense)             (None, 1)                 11

=================================================================
Total params: 1,037
Trainable params: 1,037
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [64]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [65]:
# Fit the model using 50 epochs and the training data
nn.fit(X_train_scaled, y_train, validation_split=0.3, epochs=50)

Epoch 1/50
563/563 [==============================] - 3s 4ms/step - loss: 1.0362 - accuracy: 0.6538 - val_loss: 0.8355 - val_accuracy: 0.7001
Epoch 2/50
563/563 [==============================] - 1s 3ms/step - loss: 0.8202 - accuracy: 0.6884 - val_loss: 0.7988 - val_accuracy: 0.6977
Epoch 3/50
563/563 [==============================] - 1s 3ms/step - loss: 0.7774 - accuracy: 0.6924 - val_loss: 0.7359 - val_accuracy: 0.7002
Epoch 4/50
563/563 [==============================] - 1s 3ms/step - loss: 0.7280 - accuracy: 0.7010 - val_loss: 0.7197 - val_accuracy: 0.7047
Epoch 5/50
563/563 [==============================] - 2s 3ms/step - loss: 0.7149 - accuracy: 0.7078 - val_loss: 0.7358 - val_accuracy: 0.7182
Epoch 6/50
563/563 [==============================] - 1s 3ms/step - loss: 0.7216 - accuracy: 0.7118 - val_loss: 0.7293 - val_accuracy: 0.7168
Epoch 7/50
563/563 [==============================] - 1s 3ms/step - loss: 0.7052 - accuracy: 0.7132 - val_loss: 0.7163 - val_accuracy: 0.7258
Epoch 8/50
563/563 [==============================] - 2s 3ms/step - loss: 0.7131 - accuracy: 0.6944 - val_loss: 0.7324 - val_accuracy: 0.6776
Epoch 9/50
563/563 [==============================] - 2s 3ms/step - loss: 0.6646 - accuracy: 0.7036 - val_loss: 0.6499 - val_accuracy: 0.7245
Epoch 10/50
563/563 [==============================] - 2s 3ms/step - loss: 0.6435 - accuracy: 0.7199 - val_loss: 0.6384 - val_accuracy: 0.7310
Epoch 11/50
563/563 [==============================] - 1s 3ms/step - loss: 0.6482 - accuracy: 0.7193 - val_loss: 0.6443 - val_accuracy: 0.7283
Epoch 12/50
563/563 [==============================] - 1s 3ms/step - loss: 0.6564 - accuracy: 0.7211 - val_loss: 0.6817 - val_accuracy: 0.7209
Epoch 13/50
563/563 [==============================] - 2s 3ms/step - loss: 0.6592 - accuracy: 0.7153 - val_loss: 0.6732 - val_accuracy: 0.7279
Epoch 14/50
563/563 [==============================] - 2s 3ms/step - loss: 0.6491 - accuracy: 0.7218 - val_loss: 0.6584 - val_accuracy: 0.7302
Epoch 15/50
563/563 [==============================] - 1s 3ms/step - loss: 0.6837 - accuracy: 0.7196 - val_loss: 0.6527 - val_accuracy: 0.7300
Epoch 16/50
563/563 [==============================] - 2s 3ms/step - loss: 0.6636 - accuracy: 0.7194 - val_loss: 0.6522 - val_accuracy: 0.7280
Epoch 17/50
563/563 [==============================] - 2s 3ms/step - loss: 0.6384 - accuracy: 0.7246 - val_loss: 0.6380 - val_accuracy: 0.7278
Epoch 18/50
563/563 [==============================] - 1s 2ms/step - loss: 0.6373 - accuracy: 0.7230 - val_loss: 0.6434 - val_accuracy: 0.7346
Epoch 19/50
563/563 [==============================] - 1s 3ms/step - loss: 0.6789 - accuracy: 0.6897 - val_loss: 0.7022 - val_accuracy: 0.7029
Epoch 20/50
563/563 [==============================] - 1s 3ms/step - loss: 0.6597 - accuracy: 0.7118 - val_loss: 0.6434 - val_accuracy: 0.7302
Epoch 21/50
563/563 [==============================] - 2s 3ms/step - loss: 0.6383 - accuracy: 0.7238 - val_loss: 0.6351 - val_accuracy: 0.7341
Epoch 22/50
563/563 [==============================] - 1s 3ms/step - loss: 0.6362 - accuracy: 0.7235 - val_loss: 0.6326 - val_accuracy: 0.7324
Epoch 23/50
563/563 [==============================] - 1s 3ms/step - loss: 0.6311 - accuracy: 0.7251 - val_loss: 0.6291 - val_accuracy: 0.7321
Epoch 24/50
563/563 [==============================] - 1s 3ms/step - loss: 0.6309 - accuracy: 0.7263 - val_loss: 0.6262 - val_accuracy: 0.7340
Epoch 25/50
563/563 [==============================] - 1s 3ms/step - loss: 0.6291 - accuracy: 0.7254 - val_loss: 0.6323 - val_accuracy: 0.7326
Epoch 26/50
563/563 [==============================] - 1s 3ms/step - loss: 0.6304 - accuracy: 0.7268 - val_loss: 0.6300 - val_accuracy: 0.7343
Epoch 27/50
563/563 [==============================] - 2s 3ms/step - loss: 0.6238 - accuracy: 0.7260 - val_loss: 0.6179 - val_accuracy: 0.7330
Epoch 28/50
563/563 [==============================] - 1s 3ms/step - loss: 0.6103 - accuracy: 0.7277 - val_loss: 0.6197 - val_accuracy: 0.7346
Epoch 29/50
563/563 [==============================] - 1s 3ms/step - loss: 0.6205 - accuracy: 0.7295 - val_loss: 0.6325 - val_accuracy: 0.7392
Epoch 30/50
563/563 [==============================] - 2s 3ms/step - loss: 0.6134 - accuracy: 0.7281 - val_loss: 0.6443 - val_accuracy: 0.7129
Epoch 31/50
563/563 [==============================] - 1s 3ms/step - loss: 0.6118 - accuracy: 0.7241 - val_loss: 0.6160 - val_accuracy: 0.7370
Epoch 32/50
563/563 [==============================] - 2s 3ms/step - loss: 0.6070 - accuracy: 0.7278 - val_loss: 0.6229 - val_accuracy: 0.7357
Epoch 33/50
563/563 [==============================] - 1s 2ms/step - loss: 0.6181 - accuracy: 0.7223 - val_loss: 0.6253 - val_accuracy: 0.7354
Epoch 34/50
563/563 [==============================] - 1s 3ms/step - loss: 0.6092 - accuracy: 0.7275 - val_loss: 0.6222 - val_accuracy: 0.7374
Epoch 35/50
563/563 [==============================] - 2s 3ms/step - loss: 0.6499 - accuracy: 0.7235 - val_loss: 0.6263 - val_accuracy: 0.7332
Epoch 36/50
563/563 [==============================] - 2s 3ms/step - loss: 0.6050 - accuracy: 0.7279 - val_loss: 0.6161 - val_accuracy: 0.7362
Epoch 37/50
563/563 [==============================] - 1s 3ms/step - loss: 0.5966 - accuracy: 0.7286 - val_loss: 0.6193 - val_accuracy: 0.7358
Epoch 38/50
563/563 [==============================] - 1s 3ms/step - loss: 0.5975 - accuracy: 0.7299 - val_loss: 0.6202 - val_accuracy: 0.7318
Epoch 39/50
563/563 [==============================] - 2s 3ms/step - loss: 0.6474 - accuracy: 0.7249 - val_loss: 0.6923 - val_accuracy: 0.7337
Epoch 40/50
563/563 [==============================] - 1s 2ms/step - loss: 0.6474 - accuracy: 0.7274 - val_loss: 0.6419 - val_accuracy: 0.7319
Epoch 41/50
563/563 [==============================] - 2s 3ms/step - loss: 0.6331 - accuracy: 0.7249 - val_loss: 0.6352 - val_accuracy: 0.7350
Epoch 42/50
563/563 [==============================] - 1s 3ms/step - loss: 0.6045 - accuracy: 0.7291 - val_loss: 0.6087 - val_accuracy: 0.7387
Epoch 43/50
563/563 [==============================] - 1s 3ms/step - loss: 0.5985 - accuracy: 0.7294 - val_loss: 0.6064 - val_accuracy: 0.7396
Epoch 44/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5929 - accuracy: 0.7301 - val_loss: 0.6039 - val_accuracy: 0.7375
Epoch 45/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5956 - accuracy: 0.7285 - val_loss: 0.6104 - val_accuracy: 0.7380
Epoch 46/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5926 - accuracy: 0.7286 - val_loss: 0.6030 - val_accuracy: 0.7397
Epoch 47/50
563/563 [==============================] - 2s 3ms/step - loss: 0.6030 - accuracy: 0.7239 - val_loss: 0.6197 - val_accuracy: 0.7353
Epoch 48/50
563/563 [==============================] - 1s 3ms/step - loss: 0.6009 - accuracy: 0.7289 - val_loss: 0.6042 - val_accuracy: 0.7353
Epoch 49/50
563/563 [==============================] - 1s 3ms/step - loss: 0.5958 - accuracy: 0.7311 - val_loss: 0.6023 - val_accuracy: 0.7378
Epoch 50/50
563/563 [==============================] - 1s 3ms/step - loss: 0.6000 - accuracy: 0.7280 - val_loss: 0.6150 - val_accuracy: 0.7363

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [66]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6034 - accuracy: 0.7300 - 385ms/epoch - 1ms/step
Loss: 0.6034106016159058, Accuracy: 0.7300291657447815

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [68]:
# Set the model's file path
file_path = 'model_1.h5'

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [69]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [71]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [72]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 15

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

15

In [73]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [77]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation="sigmoid"))

# Output layer
nn_A1.add(Dense(units=number_output_neurons_A1, activation="sigmoid"))

# Check the structure of the model
nn_A1.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 15)                1755

 dense_7 (Dense)             (None, 15)                240

 dense_8 (Dense)             (None, 15)                240

 dense_9 (Dense)             (None, 1)                 16

=================================================================
Total params: 2,251
Trainable params: 2,251
Non-trainable params: 0
_________________________________________________________________

In [78]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [79]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, validation_split=0.3, epochs=50)

Epoch 1/50
563/563 [==============================] - 3s 4ms/step - loss: 0.6468 - accuracy: 0.6437 - val_loss: 0.5735 - val_accuracy: 0.7280
Epoch 2/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5780 - accuracy: 0.7229 - val_loss: 0.5669 - val_accuracy: 0.7318
Epoch 3/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5742 - accuracy: 0.7233 - val_loss: 0.5663 - val_accuracy: 0.7306
Epoch 4/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5711 - accuracy: 0.7246 - val_loss: 0.5622 - val_accuracy: 0.7314
Epoch 5/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5679 - accuracy: 0.7255 - val_loss: 0.5601 - val_accuracy: 0.7311
Epoch 6/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5645 - accuracy: 0.7256 - val_loss: 0.5605 - val_accuracy: 0.7336
Epoch 7/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5619 - accuracy: 0.7268 - val_loss: 0.5573 - val_accuracy: 0.7350
Epoch 8/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5601 - accuracy: 0.7288 - val_loss: 0.5548 - val_accuracy: 0.7371
Epoch 9/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5583 - accuracy: 0.7268 - val_loss: 0.5527 - val_accuracy: 0.7363
Epoch 10/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5572 - accuracy: 0.7286 - val_loss: 0.5529 - val_accuracy: 0.7370
Epoch 11/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5561 - accuracy: 0.7296 - val_loss: 0.5510 - val_accuracy: 0.7380
Epoch 12/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5547 - accuracy: 0.7294 - val_loss: 0.5532 - val_accuracy: 0.7363
Epoch 13/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5538 - accuracy: 0.7301 - val_loss: 0.5515 - val_accuracy: 0.7383
Epoch 14/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5531 - accuracy: 0.7299 - val_loss: 0.5507 - val_accuracy: 0.7361
Epoch 15/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5520 - accuracy: 0.7294 - val_loss: 0.5496 - val_accuracy: 0.7368
Epoch 16/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5521 - accuracy: 0.7299 - val_loss: 0.5489 - val_accuracy: 0.7376
Epoch 17/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5515 - accuracy: 0.7304 - val_loss: 0.5490 - val_accuracy: 0.7376
Epoch 18/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5511 - accuracy: 0.7310 - val_loss: 0.5495 - val_accuracy: 0.7370
Epoch 19/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5502 - accuracy: 0.7302 - val_loss: 0.5478 - val_accuracy: 0.7385
Epoch 20/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5499 - accuracy: 0.7311 - val_loss: 0.5499 - val_accuracy: 0.7357
Epoch 21/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5492 - accuracy: 0.7306 - val_loss: 0.5489 - val_accuracy: 0.7363
Epoch 22/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5486 - accuracy: 0.7308 - val_loss: 0.5471 - val_accuracy: 0.7383
Epoch 23/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5483 - accuracy: 0.7310 - val_loss: 0.5470 - val_accuracy: 0.7379
Epoch 24/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5482 - accuracy: 0.7324 - val_loss: 0.5532 - val_accuracy: 0.7327
Epoch 25/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5474 - accuracy: 0.7313 - val_loss: 0.5475 - val_accuracy: 0.7381
Epoch 26/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5469 - accuracy: 0.7320 - val_loss: 0.5471 - val_accuracy: 0.7384
Epoch 27/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5468 - accuracy: 0.7324 - val_loss: 0.5495 - val_accuracy: 0.7380
Epoch 28/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5463 - accuracy: 0.7326 - val_loss: 0.5469 - val_accuracy: 0.7388
Epoch 29/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5464 - accuracy: 0.7321 - val_loss: 0.5469 - val_accuracy: 0.7385
Epoch 30/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5458 - accuracy: 0.7334 - val_loss: 0.5476 - val_accuracy: 0.7385
Epoch 31/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5455 - accuracy: 0.7332 - val_loss: 0.5470 - val_accuracy: 0.7391
Epoch 32/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5450 - accuracy: 0.7325 - val_loss: 0.5475 - val_accuracy: 0.7385
Epoch 33/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5453 - accuracy: 0.7340 - val_loss: 0.5470 - val_accuracy: 0.7391
Epoch 34/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5446 - accuracy: 0.7336 - val_loss: 0.5512 - val_accuracy: 0.7341
Epoch 35/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5446 - accuracy: 0.7329 - val_loss: 0.5476 - val_accuracy: 0.7396
Epoch 36/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5443 - accuracy: 0.7336 - val_loss: 0.5462 - val_accuracy: 0.7389
Epoch 37/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5438 - accuracy: 0.7334 - val_loss: 0.5550 - val_accuracy: 0.7326
Epoch 38/50
563/563 [==============================] - 1s 3ms/step - loss: 0.5438 - accuracy: 0.7339 - val_loss: 0.5497 - val_accuracy: 0.7352
Epoch 39/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5435 - accuracy: 0.7340 - val_loss: 0.5479 - val_accuracy: 0.7361
Epoch 40/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5431 - accuracy: 0.7336 - val_loss: 0.5531 - val_accuracy: 0.7332
Epoch 41/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5428 - accuracy: 0.7336 - val_loss: 0.5486 - val_accuracy: 0.7356
Epoch 42/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5424 - accuracy: 0.7343 - val_loss: 0.5519 - val_accuracy: 0.7340
Epoch 43/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5425 - accuracy: 0.7331 - val_loss: 0.5466 - val_accuracy: 0.7384
Epoch 44/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5422 - accuracy: 0.7328 - val_loss: 0.5473 - val_accuracy: 0.7388
Epoch 45/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5420 - accuracy: 0.7344 - val_loss: 0.5468 - val_accuracy: 0.7385
Epoch 46/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5414 - accuracy: 0.7341 - val_loss: 0.5535 - val_accuracy: 0.7324
Epoch 47/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5416 - accuracy: 0.7348 - val_loss: 0.5467 - val_accuracy: 0.7397
Epoch 48/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5414 - accuracy: 0.7335 - val_loss: 0.5487 - val_accuracy: 0.7376
Epoch 49/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5414 - accuracy: 0.7345 - val_loss: 0.5487 - val_accuracy: 0.7357
Epoch 50/50
563/563 [==============================] - 2s 3ms/step - loss: 0.5409 - accuracy: 0.7342 - val_loss: 0.5477 - val_accuracy: 0.7388

#### Alternative Model 2

In [80]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [82]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [83]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 20

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

20

In [84]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [86]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation="tanh"))

# Output layer
nn_A2.add(Dense(units=number_output_neurons_A2, activation="tanh"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_11 (Dense)            (None, 20)                2340

 dense_12 (Dense)            (None, 1)                 21

=================================================================
Total params: 2,361
Trainable params: 2,361
Non-trainable params: 0
_________________________________________________________________

In [87]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [88]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, validation_split=0.3, epochs=20)

Epoch 1/20
563/563 [==============================] - 2s 3ms/step - loss: 2.1918 - accuracy: 0.5918 - val_loss: 1.5456 - val_accuracy: 0.6670
Epoch 2/20
563/563 [==============================] - 1s 3ms/step - loss: 1.5071 - accuracy: 0.6657 - val_loss: 1.5300 - val_accuracy: 0.6804
Epoch 3/20
563/563 [==============================] - 1s 2ms/step - loss: 1.5057 - accuracy: 0.6733 - val_loss: 1.5291 - val_accuracy: 0.6823
Epoch 4/20
563/563 [==============================] - 2s 3ms/step - loss: 1.5000 - accuracy: 0.6762 - val_loss: 1.5276 - val_accuracy: 0.6867
Epoch 5/20
563/563 [==============================] - 2s 3ms/step - loss: 1.4976 - accuracy: 0.6766 - val_loss: 1.5523 - val_accuracy: 0.6688
Epoch 6/20
563/563 [==============================] - 1s 3ms/step - loss: 1.5004 - accuracy: 0.6777 - val_loss: 1.5381 - val_accuracy: 0.6894
Epoch 7/20
563/563 [==============================] - 1s 3ms/step - loss: 1.5018 - accuracy: 0.6777 - val_loss: 1.5226 - val_accuracy: 0.6879
Epoch 8/20
563/563 [==============================] - 1s 3ms/step - loss: 1.4990 - accuracy: 0.6787 - val_loss: 1.5863 - val_accuracy: 0.6599
Epoch 9/20
563/563 [==============================] - 1s 2ms/step - loss: 1.5523 - accuracy: 0.6370 - val_loss: 1.5785 - val_accuracy: 0.6464
Epoch 10/20
563/563 [==============================] - 1s 3ms/step - loss: 1.3458 - accuracy: 0.6533 - val_loss: 1.3250 - val_accuracy: 0.6817
Epoch 11/20
563/563 [==============================] - 1s 2ms/step - loss: 1.3061 - accuracy: 0.6810 - val_loss: 1.3220 - val_accuracy: 0.6814
Epoch 12/20
563/563 [==============================] - 1s 3ms/step - loss: 1.2961 - accuracy: 0.6884 - val_loss: 1.3138 - val_accuracy: 0.7006
Epoch 13/20
563/563 [==============================] - 1s 3ms/step - loss: 1.3027 - accuracy: 0.6843 - val_loss: 1.3180 - val_accuracy: 0.7015
Epoch 14/20
563/563 [==============================] - 1s 2ms/step - loss: 1.2896 - accuracy: 0.6936 - val_loss: 1.3146 - val_accuracy: 0.7008
Epoch 15/20
563/563 [==============================] - 1s 2ms/step - loss: 1.2861 - accuracy: 0.6958 - val_loss: 1.2651 - val_accuracy: 0.7032
Epoch 16/20
563/563 [==============================] - 1s 2ms/step - loss: 1.2353 - accuracy: 0.6891 - val_loss: 1.2588 - val_accuracy: 0.7045
Epoch 17/20
563/563 [==============================] - 1s 3ms/step - loss: 1.2241 - accuracy: 0.6950 - val_loss: 1.2368 - val_accuracy: 0.7032
Epoch 18/20
563/563 [==============================] - 1s 3ms/step - loss: 1.2210 - accuracy: 0.6977 - val_loss: 1.2321 - val_accuracy: 0.7043
Epoch 19/20
563/563 [==============================] - 1s 3ms/step - loss: 1.2172 - accuracy: 0.6988 - val_loss: 1.2482 - val_accuracy: 0.7028
Epoch 20/20
563/563 [==============================] - 1s 3ms/step - loss: 1.2201 - accuracy: 0.6949 - val_loss: 1.2252 - val_accuracy: 0.7010

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [89]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.6034 - accuracy: 0.7300 - 373ms/epoch - 1ms/step
Loss: 0.6034106016159058, Accuracy: 0.7300291657447815

In [90]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.5513 - accuracy: 0.7285 - 370ms/epoch - 1ms/step
Loss: 0.5513295531272888, Accuracy: 0.7285131216049194

In [91]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 1.1797 - accuracy: 0.6955 - 367ms/epoch - 1ms/step
Loss: 1.1796644926071167, Accuracy: 0.69551020860672

### Step 3: Save each of your alternative models as an HDF5 file.

In [93]:
# Set the file path for the first alternative model
file_path = 'model_A1.h5'

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [95]:
# Set the file path for the first alternative model
file_path = 'model_A2.h5'

# Export your model to a HDF5 file
nn_A2.save(file_path)

Based on the results, the original model achieved the highest accuracy at 73.00%. Alternative Model 1 achieved a lower accuracy of 72.85%, but a slightly lower loss of 0.5513 compared to the original model's loss of 0.6034. Alternative Model 2, on the other hand, had a significantly higher loss of 1.1797 and a lower accuracy of 69.55%.

Overall, the original model appears to be the best performing model among the three based on the metrics analyzed.